<a href="https://colab.research.google.com/github/hazelortegaaa/Summer/blob/main/Basics_pt3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Conditional and loops

##Conditionals

##IF ... ELIF ...ELSE Statements

In [ ]:
"""
if (condition):
   do something
   """

'\nif (condition):\n   do something\n   '

In [ ]:
if 3 > 2:
  print("Right")

Right

In [ ]:
if 4 > 7:
  print("Right!")
else:
    print("wrong")

wrong

In [ ]:
a = 3
b = 5

if a > b:
  print("Yes, it is right!")
else:
    print("Try again!")

Try again!

In [1]:
drink = "Tea"

if drink == "Coffee":
  print("Humanity runs on coffee")
else:
    print("Where there is tea, there is a hope")

Where there is tea, there is a hope

In [3]:
drink = "Coke"

if drink == "Coffee":
  print("Humanity runs on coffee")
elif drink == "Water":
    print("Water is the soul of earth!")
elif drink == "Coke":
      print("Coke is the new fuel for the programmer")
else:
      print("Where there is tea, there is hope")

Coke is the new fuel for the programmer

##For Loops

For-Loop

In [ ]:
""" 
for iterator in array:
  do something
  """

' \nfor iterator in array:\n  do something\n  '

In [12]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [11]:
for num in my_list:
  print(num)

1
2
3
4
5
45
6
34

In [10]:
for i in my_list:
  if i % 2 == 0:
    print(i)

2
4
6
34

In [9]:
for num in my_list:
  if num % 2 !=0:
    print(num)

1
3
5
45

In [8]:
my_list = [1,2,3,4,5, 45, 6, 34]
list_sum = 0

for num in my_list:
  list_sum = list_sum + num
print(list_sum)

100

In [17]:
my_list = [(1,2,3), (4,5,6),(7,8,9)]

In [18]:
for a,b, c in my_list:
  print(b,c)

2 3
5 6
8 9

In [21]:
my_list = [(1,2,3), (4,5,6), (7,8,9)]

In [20]:
for a,b,c in my_list:
  print(b,c)

2 3
5 6
8 9

In [27]:
my_dict = {"k1":1, "k2":2, "k3":3}

In [30]:
for i in my_list:
  print(i)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [31]:
print(i)

(7, 8, 9)

In [32]:
my_dict.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [34]:
for i in my_dict.items():
  print(i)

('k1', 1)
('k2', 2)
('k3', 3)

In [35]:
for a,b in my_dict.items():
  print(b)

1
2
3

In [37]:
for a,b,c in my_list:
  print(b,c)

2 3
5 6
8 9

In [36]:
#How to define a for loop
#For loop with,
#String
#Tuple
#Dictionary

##While Loops

In [ ]:
i = 0

while i < 5:
  print(i)
  i = i + 1

0
1
2
3
4

In [ ]:
i = 0

while i < 5:
  print(i)
  i = i + 1 
else:
    print("i: is not less than 5")

0
1
2
3
4
i: is not less than 5

In [ ]:
i = 10

while i < 5:
  print(i)
  i = i + 1 
else:
  print("i is not less than 5")

i is not less than 5

##pass, break and continue

In [51]:
l = [1,2,3,4,5]

for items in l:
  #Comment
  pass
  print("I will work after")

I will work after
I will work after
I will work after
I will work after
I will work after

In [42]:
my_string = "Hello world"

for letters in my_string:
 if letters == "r":
    break 
print(letters)

r

In [48]:
my_string = "Hello world"

for letters in my_string:
 if letters == "e":
   continue
print(letters)

d

In [50]:
i = 0 
while i < 5:
   if i == 3:
    break
   print(i)
   i = i + 1

0
1
2

##Most used Built- in fucntions in Python

##1) Range function

In [ ]:
for num in range (10):
  print(num)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for num in range (3,10):
  print(num)
  ##Here we are starting at number 3, beggining and end

3
4
5
6
7
8
9

In [ ]:
for num in range (0,11,2):
  print(num)
##The line starts whenever you want it to start

0
2
4
6
8
10

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9]
range(10)
list(range(10))
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

##2) Enumerate

In [ ]:
##It givesback us an index count and object itsel*

In [52]:
word = "Batman"

for items in word:
 print(items)

B
a
t
m
a
n

In [53]:
for items in enumerate(word):
  print(items)

(0, 'B')
(1, 'a')
(2, 't')
(3, 'm')
(4, 'a')
(5, 'n')

In [54]:
for a,b in enumerate(word):
  print(items)

(5, 'n')
(5, 'n')
(5, 'n')
(5, 'n')
(5, 'n')
(5, 'n')

In [55]:
for a, b in enumerate(word):
  print(a,b)

0 B
1 a
2 t
3 m
4 a
5 n

##3) Zip

In [65]:
list1 = [1,2,3,4,5]
list2 = ["a", "b","c", "d","e"]
list3 = ["a", "b", "c"]

In [66]:
list4 = zip(list1, list2)

In [67]:
print(list4)

<zip object at 0x7fd46a392be0>

In [68]:
for items in zip(list1, list2):
  print(items)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [69]:
for a,b in zip(list1, list2):
  print(a,b)

1 a
2 b
3 c
4 d
5 e

In [70]:
for items in zip(list1, list2, list3):
  print(items)

(1, 'a', 'a')
(2, 'b', 'b')
(3, 'c', 'c')

In [71]:
for a,b,c in zip(list1, list2, list3):
  print(b)

a
b
c